<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>

<body>
    <form action="/signup" method="POST" enctype="multipart/form-data">
        <p><input type="text" placeholder="Enter your email"></p>
        <p><input type="text" placeholder="Enter your password"></p>
        <p><input type="file" name="profile"></p>
        <p>
            <button>signup</button>
        </p>

    </form>
</body>

</html>